# Environment variables for Buildkite agent (Terraform deployment)
BUILDKITE_AGENT_TOKEN=$BUILDKITE_TOKEN
BUILDKITE_AGENT_NAME=$INSTANCE_NAME
BUILDKITE_AGENT_QUEUE=$BUILDKITE_QUEUE
BUILDKITE_ORG_SLUG=$BUILDKITE_ORG_SLUG
BUILDKITE_GCP_PROJECT_ID=$PROJECT_ID
BUILDKITE_GCP_ZONE=$ZONE
BUILDKITE_GCP_INSTANCE_NAME=$INSTANCE_NAME
BUILDKITE_GCP_MACHINE_TYPE=$MACHINE_TYPE
BUILDKITE_GCP_PREEMPTIBLE=$PREEMPTIBLE