services:
  packer-builder:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ..:/workspace
      - ~/.config/gcloud:/root/.config/gcloud:ro
    working_dir: /workspace
    environment:
      - GCP_PROJECT_ID
      - GCP_BUILD_ZONE
      - BUILDKITE_BUILD_NUMBER
      - BUILDKITE_COMMIT
      - BUILDKITE
      - CLOUDSDK_CONFIG=/tmp/gcloud
      - GOOGLE_APPLICATION_CREDENTIALS=/root/.config/gcloud/application_default_credentials.json
